.ruby-version
Gemfile.lock
.temp_credentials
*dynamic*
.terraform
*tfstate*
terraform.tfstate.d
*.env
*.pem
*.pub
vendor/
spec/secrets.yml
dataeng*
kms_key_arn.tfvars
.idea
/root

*.swp
.DS_Store
okta_venv

CA/certs/*
